body {
    color: white;
    background-color: #08020E;
}

a {
    color: #FF007F;
    font-weight: 600;
    transition: all 0.2s linear;
}

.navbar-custom {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: larger;
}

.nav-link {
    color: rgba(250, 250, 250, 0.8) !important;
}

.nav-tabs-custom {
    background-color: transparent;
    border-bottom: 0px solid #dee2e6 !important;
}

.nav-link {
    border: 0px solid transparent !important;
    border-bottom: 2px solid transparent !important;
}

.nav-link.active {
    background-color: transparent !important;
    border-color: #FF007F !important;
    color: white !important;
}

.bg-transparent {
    background-color: transparent;
}

.linear-transitions {
	transition: all 0.2s linear;
}

a:hover,
a:active,
a:focus,
a:active:focus,
a.active {
	color: #31AFD4;
}

.mainBackground {
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

.mainBackground-overlay {
	background-color: rgba(0,0,0,0.6);
	backdrop-filter: blur(0.7rem);
	-webkit-backdrop-filter: blur(0.7rem);
    padding: 5vh 5vw 2vh;
    min-height: 100vh;
}

.btn-primary {
    background: rgb(255,51,153);
    background: linear-gradient(270deg, rgba(255,51,153,1) 0%, rgba(224,0,112,1) 100%);
    border-width: 0px;
    border-radius: 25px;
    margin: 0.5rem;
    width: 150px;
    height: 45px;
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0.5s linear;
}

.btn-primary-append {
	margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 60px;
    height: auto;
    justify-content: center;
    border-width: 0px !important;
}

.btn-primary-small {
    width: 100px;
    height: 40px;
    font-size: 1rem;
}

.btn-primary-action {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    padding: 0;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.btn-primary-action.disabled {
    cursor: not-allowed;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active {
    color: white;
    filter: saturate(1.5);
    transition: all 0.5s linear;
    box-shadow: 0 0 0 0;
}

.signup-container {
    background-color: rgba(19, 5, 35, 0.8);
    border: 2px solid #FF007F;
    border-radius: 25px;
    width: 300px;
    padding: 2rem
}

.footer {
    color: rgba(250, 250, 250, 0.5);
    font-size: small;
}

.hidden {
	height: 0px;
	overflow: hidden
}

.unhidden {
	height: auto;
	overflow: hidden
}

.form-group {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.valid-feedback {
    padding-left: 5px;
}

.invalid-feedback {
    padding-left: 5px;
}

.append {
	background-color: #FF007F;
	color: white;
    border: 1px solid #FF007F;
}

.prepend {
	background-color: white;
	color: white;
    border-top: 2px solid #FF007F;
    border-bottom: 2px solid #FF007F;
    border-left: 2px solid #FF007F;
    border-right: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #130523;
}

.movie-search {
    border-top: 2px solid #FF007F;
    border-bottom: 2px solid #FF007F;
    border-left: 0px;
    border-right: 0px !important;
    height: 50px;
    font-weight: bolder;
    font-size: larger;
    color: white !important;
    background-color: #130523;
}

.movie-search:focus {
    border-top: 2px solid #FF007F !important;
    border-bottom: 2px solid #FF007F !important;
    border-left: 0px !important;
    border-right: 0px !important;
    box-shadow: 0 0 0 0;
    background-color: #130523;
    z-index: auto !important;
}

.tabs-container {
    width: 100%;
    max-width: 1400px;
    border-radius: .5rem;
    border: 1px solid #FF007F;
    padding: 2rem;
    background-color: rgba(0,0,0,0.4);
}

.results-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    border: 2px solid rgba(70,70,70,1);
    border-radius: .5rem;
    overflow: hidden;
}

.result-container {
	background-color: rgba(0,0,0,0.6);
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(0.5rem);
    width: 275px;
}

.poster {
	height: 300px;
    border: 1px solid rgba(150,150,150,0.3)
}

.title {
    margin-bottom: 0;
    max-width: 250px;
}

.pink {
    color: #FF007F
}

.blue {
    color: #31AFD4
}

.subtext {
    color: rgba(250, 250, 250, 0.5);
}

.fa-search {
    padding-right: 5px;
}

.modal-content {
    background-color: #08020E;
    border: 1px solid #FF007F;
    border-radius: .5rem;
}

.close {
    opacity: 1 !important;
    color: white !important;
}

.badge {
    font-size: 70%;
    margin: 0.15rem 0.25rem
}

.badge-pink {
    background: rgb(255,51,153);
    background: linear-gradient(270deg, rgba(255,51,153,1) 0%, rgba(224,0,112,1) 100%);
    border: 1px solid rgb(197, 15, 106);
}

.badge-blue {
    background-color: #31AFD4;
}

.language-container {
    width: 150px;
    height: 150px;
}

.tab-action-container {
    margin: 3rem;
}

.navbar-brand {
    display: none
}

.progress-bar-pink {
    background-color: #fc3a9b;
}

.progress {
    background-color: #130523;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(100,100,100);
	border-radius: 20px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

@media (max-width: 767px) {

    .navbar-brand {
        display: inline-block
    }

}

@media (max-width: 610px) {

    .tabs-container {
        padding: 2rem 0.7rem;
    }

    .tab-action-container {
        margin: 3rem 1rem;
    }

}